.md-card{
    background-color:white;
    width: 90%;
    margin: 1% auto;
}

.md-card h1 {
    text-align: center;
}
.gridlist{
    height:90px;
    width:93%;
    margin:0% auto;
}
.md-grid-tile{
    padding:3px 0px;
}
.md-card-grid{
    width:100%;height:55px;
}
.grid-list{
text-align:justify
}

      .lastHead{
        text-align:justify;
        width:92%;
        padding: 0.5%;
        margin-top:25px;
        font-size:15px;
        background-color:white;margin:1% auto;
        text-transform: full-width;
    }