<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                </h4>
            </div>
            <form class="col-sm-12" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
                <div class="modal-body">
                    <div [ngClass]="{'has-error': !postForm.controls['title'].valid && postForm.controls['title'].touched}">
                        <label for="title">Title</label><br>
                        <input type="text" name="title" id="title" class="form-control" formControlName="title" placeholder="Enter Title here.."
                            required autofocus>
                        <span class="marginTop10px" *ngIf="postForm.controls['title'].hasError('required') && postForm.controls['title'].touched">Title is Required </span>
                    </div>
                    <br />
                    <div [ngClass]="{'has-error': !postForm.controls['desc'].valid && postForm.controls['desc'].touched}">
                        <label for="desc">Description</label><br>
                        <input type="text" name="desc" id="desc" class="form-control" formControlName="desc" placeholder="Enter Description here.."
                            required>
                        <span class="marginTop10px" *ngIf="postForm.controls['desc'].hasError('required') && postForm.controls['desc'].touched">Description is Required </span>
                    </div>
                    <br />
                    <div [ngClass]="{'has-error': !postForm.controls['salary'].valid && postForm.controls['salary'].touched}">
                        <label for="salary">Salary</label><br>
                        <input type="number" name="salary" id="salary" class="form-control" formControlName="salary" placeholder="Enter Salary here.."
                            required>
                        <span class="marginTop10px" *ngIf="postForm.controls['salary'].hasError('required') && postForm.controls['salary'].touched">Salary is Required </span>
                    </div>
                    <br />
                    <button class="btn btn-primary pull-right" type="submit" [disabled]="(!postForm.valid)">Post</button>
                </div>
            </form>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>