<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                </h4>
            </div>
            <form class="col-sm-12">
                <div class="modal-body">
                    <label for="Feedback">Feedback</label><br>
                    <textarea style="width: 100%;
    resize: none;" name="" #feedback id="Feedback" cols="30" rows="10" placeholder="Please Enter Your Feedback Here....."></textarea>
                    <button class="btn btn-primary pull-right" type="button" (click)="onSubmit(feedback)">Feedback</button>
                </div>
            </form>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>