<!--<nav-login></nav-login>-->
<div class="container text-center" style="margin-top:50px;">
<h2 class="form-signin-heading col-sm-4 col-sm-offset-4"> <span *ngIf="isCompanyRoute">Add Company</span> <span *ngIf="!isCompanyRoute">Sign up</span></h2>
<div>
    <form class="col-sm-4 col-sm-offset-4 auth-form-body" [formGroup]="signupForm">
        <div [ngClass]="{'has-error': !signupForm.controls['name'].valid && signupForm.controls['name'].touched }">
            <label for="name" class="pull-left">
                    <span *ngIf="isCompanyRoute">Name</span> 
                    <span *ngIf="!isCompanyRoute">User name</span>
                </label>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" autofocus required>
            <span class="pull-right" *ngIf="signupForm.controls['name'].hasError('required') && signupForm.controls['name'].touched">
                    <span *ngIf="isCompanyRoute">Name</span>
            <span *ngIf="!isCompanyRoute">User name</span> is Required</span>
        </div>
        <br>
        <div *ngIf="!isCompanyRoute" [ngClass]="{'has-error': !signupForm.controls['firstname'].valid && signupForm.controls['firstname'].touched }">
            <label for="Firstname" class="pull-left">Firstname</label>
            <input type="text" id="Firstname" formControlName="firstname" class="form-control" placeholder="First Name" autofocus required>
            <span class="pull-right" *ngIf="signupForm.controls['firstname'].hasError('required') && signupForm.controls['firstname'].touched">First Name is Required</span>
            <br>
        </div>
        <div *ngIf="isCompanyRoute" [ngClass]="{'has-error': !signupForm.controls['address'].valid && signupForm.controls['address'].touched }">
            <label for="Address" class="pull-left">Address</label>
            <input type="text" id="Address" formControlName="address" class="form-control" placeholder="Address" autofocus required>
            <span class="pull-right" *ngIf="signupForm.controls['address'].hasError('required') && signupForm.controls['address'].touched">Address is Required</span>
        </div>
        <div *ngIf="!isCompanyRoute" [ngClass]="{'has-error': !signupForm.controls['lastname'].valid && signupForm.controls['lastname'].touched }">
            <label for="Lastname" class="pull-left">Lastname</label>
            <input type="text" id="Lastname" formControlName="lastname" class="form-control" placeholder="Last Name" autofocus required>
            <span class="pull-right" *ngIf="signupForm.controls['lastname'].hasError('required') && signupForm.controls['lastname'].touched">Lastname is Required</span>
        </div>
        <br>
        <div [ngClass]="{'has-error': !signupForm.controls['email'].valid && signupForm.controls['email'].touched}">
            <label for="inputEmail" class="pull-left">Email address</label>
            <input type="text" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required>
            <span class="pull-right" *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched">Email is Required</span>
            <span class="pull-right" *ngIf="!signupForm.controls['email'].hasError('required') &&  signupForm.controls['email'].hasError('InValidPattern') && signupForm.controls['email'].touched">Email Pattern is not  correct</span>
        </div>
        <br>
        <div [ngClass]="{'has-error': !signupForm.controls['password'].valid && signupForm.controls['password'].touched}">
            <label for="inputPassword" class="pull-left">Password</label>
            <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
            <span class="pull-right" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Password is Required</span>
            <!--<span class="pull-right" *ngIf="signupForm.controls['password'].hasError('minLength') && signupForm.controls['password'].touched">Password must conalkjaklasjklajaskltain at least six characters</span>-->
            <span class="pull-right" *ngIf="signupForm.controls['password'].hasError('minlength') && signupForm.controls['password'].touched">Password must contain at least six characters</span>
        </div>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" (click)="add(signupForm)" [disabled]="!signupForm.valid">Sign up</button>
        <div class="has-error" *ngIf="isError">{{isError}}</div>
    </form>
</div>
</div>
<!-- /container -->