
<div class="container">
    <button type="button" (click)="Changes();isShow = true" class="btn btn-primary  pull-right height35px marginTop20px" data-toggle="modal"
        data-target="#myModal">Feedback..</button>
    <br>
    <br>
    <br>
    <parking-list [locations]="parkings" [currentUser]="currentUser" (saveMultipathEvent)="saveMultipathEventHandler($event)"></parking-list>
</div>
<modal *ngIf="isShow" [currentUser]="currentUser" [pushKey]="postPushKey" (saveMultipath)="saveMultipathEventHandler($event)"></modal>