<tr *ngIf="isCompany">
    <th style="text-align: center;">#</th>
    <th style="text-align: center;">Company Name</th>
    <th style="text-align: center;">Address</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Delete</th>
</tr>
<tr *ngIf="!isCompany">
    <th style="text-align: center;">#</th>
    <th style="text-align: center;">First Name</th>
    <th style="text-align: center;">Last Name</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Delete</th>
</tr>