<nav-login></nav-login>
<div class="container text-center" style="margin-top:50px;">
    <h2 class="form-signin-heading col-sm-4 col-sm-offset-4">Sign up</h2>
    <div>
        <form class="col-sm-4 col-sm-offset-4 auth-form-body" [formGroup]="signupForm">
            <div [ngClass]="{'has-error': !signupForm.controls['username'].valid && signupForm.controls['username'].touched }">
                <label for="Username" class="pull-left">Username</label>
                <input type="text" id="Username" formControlName="username" class="form-control" placeholder="User name" autofocus required>
                <span class="pull-right" *ngIf="signupForm.controls['username'].hasError('required') && signupForm.controls['username'].touched">Username is Required</span>
            </div>
            <br>
            <div [ngClass]="{'has-error': !signupForm.controls['email'].valid && signupForm.controls['email'].touched}">
                <label for="inputEmail" class="pull-left">Email address</label>
                <input type="text" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" required>
                <span class="pull-right" *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched">Email is Required</span>
                <span class="pull-right" *ngIf="!signupForm.controls['email'].hasError('required') &&  signupForm.controls['email'].hasError('InValidPattern') && signupForm.controls['email'].touched">Email Pattern is not  correct</span>
            </div>
            <br>
            <div [ngClass]="{'has-error': !signupForm.controls['password'].valid && signupForm.controls['password'].touched}">
                <label for="inputPassword" class="pull-left">Password</label>
                <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
                <span class="pull-right" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Password is Required</span>
                <!--<span class="pull-right" *ngIf="signupForm.controls['password'].hasError('minLength') && signupForm.controls['password'].touched">Password must conalkjaklasjklajaskltain at least six characters</span>-->
                 <span class="pull-right" *ngIf="signupForm.controls['password'].hasError('minlength') && signupForm.controls['password'].touched">Password must contain at least six characters</span>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" (click)="signup(signupForm)" [disabled]="!signupForm.valid">Sign up</button>
            <div class="has-error" *ngIf="isError">{{isError}}</div>
        </form>
    </div>
</div>
<!-- /container -->