// .container{
// 	width:400px;
// 	margin:0% auto;
// 	margin-top:30px;
// 	background-color:white
// }

.has-error {
    color:red;
}
.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    margin-top:10px;
    border-top: 1px solid #d8dee2;
    border-radius: 5px;
}
.marginTop10px {
    margin-top: 10px;
    margin-bottom: 0;
}
.cursor-pointer {
    cursor: pointer;
}

// .demo-card demo-basic{
// 	padding:3px;
// 	}



// .md-raised-button{
// 	display: block;
// 	display: block;
// 	margin: 13px auto 0 auto;
// 	}

    