.flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media only screen and (max-width: 770px) {
    .flex {
        display: block;
    }
    .navbar-collapse {
        width: 100%;
    }
}