<div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let user of keys(post.applied)">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + i">
                {{post.applied[user]['name']}}</a>
            </h4>
        </div>
        <div [id]="'#collapse' + i" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Name: {{post.applied[user]['firstname'] + " " + post.applied[user]['lastname']}}</li>
                    <li class="list-group-item">Email: {{post.applied[user]['email']}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>